header {
    /* height: 100vh; */
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 70%;
    position: relative;
}

/* ====== CTA ====== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ====== Header Socials ====== */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 1px;  
    height: 2rem;
    background: var(--color-primary);
}

.hello {
    font-style: italic;
    font-size: 35px;
}

/* ====== Header img ====== */

.me {
  background: linear-gradient(
    var(--color-primary), transparent
  );
  width: 22rem;
  height: 100%;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 5rem;
  border-radius: 12rem 12rem 0 0;
  justify-content: center;
  overflow: hidden;
 padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ==== scroll_down ==== */

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* ============== Media Query Table screen ============== */
@media screen and (max-width: 1024px) {
    header {
        height: 60vh;
    }
}

/* ============== Media Query small screen ============== */
@media screen and (max-width: 600px) {
    header {
        height: 56vh;
    }

    .header_socials, .scroll_down {
        display: none;
    }
}